.swiper-slide img {
  flex-shrink: 50 !important;
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.swiper-slide {
  flex-shrink: 0 !important;
  width: 10%;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: gray;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: gray;
}

.swiper-button-prev, .swiper-button-next {
  color: white !important; // Change the arrow color to white
  top: 45%;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5); // Optional: Semi-transparent background
  border: 1px solid gray;
  border-radius: 50%;
  font-weight: 700;
  outline: 0;
  transition: background-color .2s ease, color .2s ease;

  &::after {
      font-size: 16px;
  }
}

.swiper-button-prev {
  &:after {
      position: relative;
      left: -1px;
  }
}

.swiper-button-next {
  &:after {
      position: relative;
      left: 1px;
  }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
